.prthEditContainer.editing .prthEdit {
    display: none;
}

.prthEditContainer button:before {
    content: " ";
    background-size: 100%;
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.3em;
    vertical-align: middle;
    display: inline-block;
}

.prthEditContainer .prthEdit:before {
    background-image: url("https://maxcdn.icons8.com/windows8/PNG/26/Editing/edit-26.png");
}

.prthEditImageContainer .prthEdit:before {
    background-image: url("https://maxcdn.icons8.com/office/PNG/40/Editing/edit_image-40.png");
}

.prthAddImage:before {
    background-image: url("https://maxcdn.icons8.com/Color/PNG/24/Photo_Video/add_image-24.png");
}

.prthEditExcerptContainer .prthEdit:before {
    background-image: url("https://maxcdn.icons8.com/windows8/PNG/26/Programming/edit_property-26.png");
}

.prthEditContainer .prthCancel:before {
    background-image: url("https://maxcdn.icons8.com/Color/PNG/24/Very_Basic/cancel-24.png");
}

.prthEditContainer .prthSave:before {
    background-image: url("https://maxcdn.icons8.com/Android_L/PNG/24/Programming/save-24.png");
}

.prthEditContainer .prthRemove:before {
    background-image: url("https://maxcdn.icons8.com/Color/PNG/24/User_Interface/delete_sign-24.png");
}

.prthEditContainer .prthAdd:before {
    background-image: url("https://maxcdn.icons8.com/Color/PNG/24/Very_Basic/plus-24.png");
}

.prthEditContainer .prthProperties:before {
    background-image: url("https://maxcdn.icons8.com/windows8/PNG/26/Very_Basic/settings-26.png");
}


.prthEditContainer.editing .prthSave, .prthEditContainer.editing .prthCancel {
    display: unset !important;
}

.prthSave, .prthCancel {
    display: none;
}

.prthEditContainer button {
    font-size: 12px;
    padding: 0.4em;
    background: rgba(255, 255, 255, 0.82);
    border: 2px solid #a8a8a8 !important;
    border-radius: 9px !important;
    color: #000 !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
    font-weight: 700 !important;
    text-transform: none !important;
    margin-bottom: 0 !important;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content;
}

.prthEditContainer button:hover {
    background: #007acc;
}

.prthEditContainer {
    text-align: right;
}

.editContentContainer {
    margin-bottom: 0.3em;
}

.prthEditTitleContainer {
    position: absolute;
    float: left;
    margin-bottom: 0;
    left: -1em;
    margin-top: 0;
    text-align: right;
    z-index: 10;
}

.prthEditTitleContainer.editing {
    left: -2em;
}

.prthEditTitleContainer button:before, .prthEditImageContainer button:before,
.prthEditExcerptContainer button:before {
    margin-right: 0;
}

.prthEditTitleContainer button, .prthEditImageContainer button  {
    vertical-align: middle;
    margin-right: 0.4em;
}

[vf-editable][contenteditable] {
    box-shadow: 0 0 1px 3px rgba(0, 74, 255, 0.08);

}

[vf-editable][contenteditable] br:first-child, [data-mce-bogus] {
    display: unset !important;
}

.prthEditImageContainer .prthRemove, .prthEditImageContainer .prthEdit {
    display: none;
}

.prthEditImageContainer {
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content;
}

.has-post-thumbnail .prthAddImage {
    display: none;
}

.wp-post-image+.prthEditImageContainer {
    position: absolute;
    top: 0.3em;
    left: 0.2em;
}

.wp-post-image+.prthEditImageContainer .prthEdit, .wp-post-image+.prthEditImageContainer .prthRemove {
    display: unset;
}

.prthNoImage {
    display: none !important;
}

.prthRefreshThumb {
    display: block;
}

.prthNoImage~.prthRefreshThumb {
    display: none !important;
}

.prthEditExcerptContainer {
    position: absolute;
    float: left;
    left: -4.5em;
    min-width: 4.3em;
    text-align: right;
    top: 0.5em;
    margin-left: -0.6em;
    min-height: 4em;
}

.prthAutoHideControls .prthEditContainer {
    visibility: hidden;
}

.prthAutoHideControls:hover .prthEditContainer, .prthEditContainer:hover,
.prthEditContainer.editing, .prthAutoHideControls:hover .prthEditExcerptDecor,
.prthEditContainer.editing .prthEditExcerptDecor, .prthEditContainer:hover~.prthEditExcerptDecor {
    visibility: visible !important;
}

.prthSmallDialog .ui-dialog-title {
    width: 100% !important;
}

.ui-dialog.prthSmallDialog {
    position: fixed !important;
    z-index: 1000;
}

.prthDeleteImgConfirmImg {
    display: block;
    max-height: 28em;
    margin: auto;
    border: 2px double #878787;
}

button.prthImageCompletelyDelete[disabled]:hover {
    padding: 0;
}

.prthDeleteImgConfirm {
    font-size: 1.1em;
    display: block;
    text-align: center;
    margin-top: 0.8em;
    font-style: italic;
    color: #783a3a;
}

.prthEditExcerptDecor {
    border-left: 2px solid rgb(221, 222, 234);
    border-radius: 10px;
    width: 10px;
    position: absolute;
    margin-left: -10px;
    margin-bottom: -7.6em;
    visibility: hidden;
    min-height: 4em;
}

.prthEditBoxGroup {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 1em;
}

.prthEditBoxGroupHeader {
    color: rgb(91, 0, 105);
}

.prthEditDialog {
    position: fixed !important;
    box-shadow: 0 2px 13px 2px rgba(0, 0, 0, 0.6);
    z-index: 1001;
}

.prthEditDialog  .ui-dialog-content{
    width: 100% !important;
    padding-top: 0.5em !important;
}

.prthEditDialog .ui-dialog-titlebar-close {
    display: none;
}

.prthEditDialog .ui-dialog-titlebar, .prthSmallDialog .ui-dialog-titlebar {
    padding: 0 1em 0.3em 0.7em !important;
    background: none !important;
    border: none;
}

.prthEditDialog .ui-dialog-title, .prthSmallDialog .ui-dialog-title {
    border-width: 0px 0px 2px;
    text-align: center;
    border-style: solid;
    width: 100% !important;
    border-radius: 5px;
}

.prthEditDialog .ui-dialog-title {
    border-color: rgb(189, 189, 189);
}

.prthSmallDialog .ui-dialog-title {
    border-color: rgb(113, 117, 161);
}

.prthEditDialog.prthSourceDialog .ui-dialog-title {
    border-color: rgb(113, 117, 161);
}

.prthEditDialog .ui-dialog-buttonpane {
    padding-bottom: 0 !important;
    border-color: rgba(173, 173, 173, 0.6);
    border-style: dashed;
    border-top-width: 2px !important;
}


body .prthEditDialog .ui-dialog-buttonpane .ui-button, body .prthSmallDialog .ui-dialog-buttonpane .ui-button {
    border: 0 !important;
    border-radius: 2px !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
    font-weight: 700 !important;
    text-transform: none !important;
}

body .prthEditDialog .ui-dialog-buttonpane .ui-button {
    background: #1a1a1a;
    color: #fff !important;
}

body .prthSmallDialog .ui-dialog-buttonpane .ui-button {
    background: white;
    color: #007acc !important;
    margin-bottom: 0;
}

body .prthEditDialog .ui-dialog-buttonpane .ui-button:hover, body .prthSmallDialog .ui-dialog-buttonpane .ui-button:hover {
    background: #007acc;
}

body .prthSmallDialog .ui-dialog-buttonpane .ui-button:hover {
    color: white !important;
}

body .prthSmallDialog .ui-dialog-buttonpane {
    border: none;
    text-align: center;
}

body .prthSmallDialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.prthEditBoxGroup.hits {
    display: block;
    text-align: center;
    margin-bottom: 0.3em;
}

.prthEditBoxGroup.hits .prthEditBoxGroupHeader, .prthEditBoxGroup.hits .prthEditBox {
    display: inline-block;
}

.prthEditBoxGroup.hits .prthEditBoxGroupHeader {
    font-weight: 500;
}

.prthHits {
    font-style: italic;
}

.prthEditBoxGroup.seoUltimate {
    margin-top: 1.3em;
}

.prthEditBoxGroup.seoUltimate .prthEditBoxGroupHeader {
    font-style: italic;
}

.prthEditBoxGroup.content {
    display: block;
    margin-top: 1em;
}

.prthEditBoxGroup.content textarea {
    height: 8em;
}

.prthEditBoxGroup button {
    text-transform: none !important;
}

.mce-floatpanel.mce-tinymce-inline .mce-container-body {
    max-width: 650px;
}

.mce-floatpanel.mce-tinymce-inline {
    max-width: 650px;
    border: 1px solid #cacaca !important;
}

.mce-floatpanel.mce-menu .mce-ico {
    display: inline-block !important;
}

.prthSourceDialog .CodeMirror {
    height: 100%;
    font-size: 12px;
    line-height: 18px;
}

.prthSourceDialog .ui-dialog-content {
    padding: .5em 1em 0 0 !important;
}

/*#prthTools .mce-ico {*/
    /*display: inline-block !important;*/
/*}*/

.prthImgDiv {
    display: inline-block;
    max-width: 30%;
    margin-bottom: 2em;
    margin-right: 3%;
    border: 2px solid rgba(173, 173, 173, 0.55);
    vertical-align: middle;
    padding-bottom: 0.4em;
}

.prthImgDiv.selected {
    border: 2px solid rgba(113, 136, 224, 0.57);
    box-shadow: 0 0 4px 2px rgba(46, 67, 105, 0.55);
}

.prthImageTitle {
    text-align: center;
    line-height: 1;
    color: dimgrey;
}